#tooltip-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 50px;
    margin: 0;
}

.projects_text{
    display:none;
    position: absolute;
    color: black;
    border:1px solid black ;
    padding:5px;
    border-radius: 5px;
    top:20px;
    background-color: red;
}

.projects:hover .projects_text{
    display:block;
}
